
.images{
  margin-left: 20%;
}
.logo {
  position: absolute;
  width: 18%;
  height: 19%;
  left: 40%;
  top: 10%;
}




.judul {
  font-size: 120%;
  margin-left: 42.5%;
  margin-top: 13%;
  font-family: "Times New Roman", Times, serif;
}

.button {
  width: 75px;
  height: 40px;

  background: #558cb4;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
#sidebar{
  position: fixed;
  background-color: #7FA2BB;
  height: 100%;
}
#content{
 position: fixed;
  
  left: 280px;
  width: 100%;
}
nav{
 background-color: #7FA2BB;
 z-index: 100;
 height: 50px;
 color: #000000;
}
nav .input-group{
  left: 55%;
  top: -75px;
  width: 25%;
  height: 50px;
}

/* #sidebar {
  position: relative;
  width: 15%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #7fa2bb;
} */

.buku{
    position: absolute;
width: 48px;
height: 18px;
/* left: 65px; */
top: 187px;

font-family: 'Battambang';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 18px;
/* identical to box height */


color: #000000;
}

/* .navbar {
  width: 3778%;
  height: 57px;
  left: 670%;
  top: 0px;
  background: #7fa2bb;
} */

nav h3 {
  font-family: "Times New Roman";
  font-weight: bold;
  margin-left: 3%;
}

.dropdown-menu{

  background-color: #7494AB;
}
.icon {
  height: 40px;
  width: 40px;
  left: 27px;
  font-family: 'Times New Roman';
}

.tampil {
  position: absolute;
  width: 235px;
  height: 115px;
  left: 349px;
  top: 195px;

  background: #e3d1b5;
  border-radius: 10px;
}

.masuk {
  position: absolute;
  width: 235px;
  height: 115px;
  left: 349px;
  top: 195px;

  background: #e3d1b5;
  border-radius: 10px;
}
/* kotak */
.kotak1 {
  width: 250px;
  height: 130px;
 
  background: #e3d1b5;
  border-radius: 10px;
}

.g1 {
  position: absolute;
  width: 80px;
  height: 70px;
  left: 60%;
  top: 25%;
}
.p1 {
  position: absolute;
  top: 58%;
  left: 5%;
  font-weight: bold;
  font-family: ''Times New Roman', Times, serif';
  font-size: 110%;
}

/* tutup kotak */

.kotak2 {
  width: 250px;
  height: 130px;
 
  background: #8facb8;
  border-radius: 10px;
}

.kotak3 {
  width: 250px;
  height: 130px;


  background: #bcd6bd;
  background-blend-mode: darken;
  border-radius: 10px;
}

.kotak4{
  width: 250px;
height: 130px;
  background: #B6B6B6;

  background-blend-mode: darken;
  border-radius: 10px;
}

.form-control{
  height: 55px;

  border-radius: 10px;
}

div h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

div p{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

div.p-5{
  font-family: 'Josefin Sans';
}

div.p-3{
  font-family:'Josefin Sans';
}

/* .btn-outline{
  background-color: #7494AB;
} */




.cari{
  display: inline-block;
}