.input1{
    position: absolute;
width: 300px;
height: 45px;
left: 38%;
top: 40%;

background: #FFFFFF;
border: 2px solid #000000;
border-radius: 15px;
font-family: 'Times New Roman', Times, serif;
}

.logo{
    position: absolute;
width: 220px;
height: 120px;
left: 40%;
top: 10%;

}

.input2{
    box-sizing: border-box;

position: absolute;
width: 300px;
height: 45px;
left: 38%;
top: 50%;

background: #FFFFFF;
border: 2px solid #000000;
border-radius: 15px;
font-family: 'Times New Roman', Times, serif;
}

.judul{
    font-size: 83%;
    margin-left: 42%;
    margin-top: 13%;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    position: absolute;
width: 75px;
height: 40px;
left: 54%;
margin-top: 11%;

background: #72AAA7;
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;

}

.sidebar{
    position: absolute;
width: 230px;
height: 100%;
left: 0px;
top: 0px;

background: #8AB5B2;
}

.navbar{
    position: absolute;
width: 1050px;
height: 57px;
left: 230px;
top: 0px;

background: #AABBBA;
}